body{
    background-color: #f4c531;
}

.felulet{
    box-sizing: content-box;
    width: 20em;
    height: 27em;
    padding: 2.5em 3em;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 3rem;
}

.felulet button{
    border: none;
    border-radius: 0.3em;
    background-color: #f4c531;
    padding: 0.5em 1em;
    font-size: medium;
    position: relative;
    left: 35%;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}





